[Desktop Entry]
Name=SnipText
Comment=Screen capture OCR tool
Exec=sniptext --capture-now
Icon=io.github.dkorbelainen.SnipText
Terminal=false
Type=Application
Categories=Utility;Graphics;TextTools;
Keywords=ocr;screenshot;capture;text;recognition;
X-Flatseal-Dbus-System=
X-Flatseal-Dbus-Session=
