include README.md
include LICENSE
include requirements.txt
include sniptext.desktop
include man/sniptext.1
recursive-include sniptext *.py
recursive-include sniptext/data *.json
global-exclude __pycache__
global-exclude *.py[co]
